<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <table class="container">
        <thead>
            <tr>
                <th><h1>Name</h1></th>
                <th><h1>Data</h1></th>
            </tr>
        </thead>
        <tbody>
            {%for i in data %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>